/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/utilities";

body, html {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 100%;
}

.container {
    width: 600px;;
    height: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #efefef;
    position: relative;
    @include clearfix;

    .chatinput {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        input {
            height: 48px;
            border: none;
            max-width: 592px;
            width: 100%;
            padding-left: 8px;
            font-size: 14px;
        }
    }
}

.chatbubble {

    .message {
        background: #0084ff;
        color: white;
        width: auto;
        margin: 1px 0;
        display: inline-block;
        max-width: 55%;
        border-radius: 4px;
        padding: 6px 12px;
    }

    &.left {
        float:left;
        clear:both;
        border-top-right-radius: 1.3em;
        border-bottom-right-radius: 1.3em;
    }
    &.right {
        float:right;
        clear:both;
        border-top-left-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
    }
}
