@import "compass/css3";
/*@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaStd-Bold.ttf );
}
@font-face {
    font-family: Orator;
    src: url(../fonts/orator-regular.ttf );
}*/

* {
    box-sizing: border-box;
}


$background : #E8E8E8;
$yellow : #FFF873;
$pink : #FF92FA;

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html, body {
    height: 100%;
    width: 100%;
    margin:0;
    font-family: Roboto;
}
.music, .github {
    text-transform: lowercase;
    height:100%;
    width: 50%;
    float: left;
    text-align: center;
}
.music {
    background: #f50;
    h1 {
        color: #333;
    }
}
.github {
    background: #fff;
    h1 {
        color: #555;
    }
}
a {
    &, &:hover, &:active, &:visited{
        text-decoration: none;
    }
    &:hover * {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}

h1 {
    font-size: 10em;
    margin: 0;
}

marquee {
    background: transparent;
    color: #14A697;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
    left: 0;
}

.me {
    background-image: url(../me_flat.png);
    background-position: center;
    background-size: 8em;
    height: 8em;
    width: 8em;
    margin: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 4px solid #A2EAD2;
    border-radius: 50%;

    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;

    &:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    &:active {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}
