/*@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaStd-Bold.ttf );
}
@font-face {
    font-family: Orator;
    src: url(../fonts/orator-regular.ttf );
}*/
/* line 11, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 28, ../sass/style.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 30, ../sass/style.scss */
* html .clearfix {
  height: 1%;
}

/* line 31, ../sass/style.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* line 34, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Roboto;
}

/* line 40, ../sass/style.scss */
.music, .github {
  text-transform: lowercase;
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
}

/* line 47, ../sass/style.scss */
.music {
  background: #f50;
}
/* line 49, ../sass/style.scss */
.music h1 {
  color: #333;
}

/* line 53, ../sass/style.scss */
.github {
  background: #fff;
}
/* line 55, ../sass/style.scss */
.github h1 {
  color: #555;
}

/* line 60, ../sass/style.scss */
a, a:hover, a:active, a:visited {
  text-decoration: none;
}
/* line 63, ../sass/style.scss */
a:hover * {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* line 69, ../sass/style.scss */
h1 {
  font-size: 10em;
  margin: 0;
}

/* line 74, ../sass/style.scss */
marquee {
  background: transparent;
  color: #14A697;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  left: 0;
}

/* line 84, ../sass/style.scss */
.me {
  background-image: url(../me_flat.png);
  background-position: center;
  background-size: 8em;
  height: 8em;
  width: 8em;
  margin: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 4px solid #A2EAD2;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
/* line 100, ../sass/style.scss */
.me:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 104, ../sass/style.scss */
.me:active {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
