@font-face {
  font-family: Futura;
  src: url(../fonts/futurastd-medium-webfont.ttf);
}

@font-face {
  font-family: Orator;
  src: url(../fonts/orator-regular.ttf);
}

/* line 11, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/style.scss */
.clearfix:after, form:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 28, ../sass/style.scss */
.clearfix, form {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 30, ../sass/style.scss */
* html .clearfix, * html form {
  height: 1%;
}

/* line 31, ../sass/style.scss */
.clearfix, form {
  display: block;
}

/* close commented backslash hack */
/* line 34, ../sass/style.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #e8e8e8;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Orator', sans-serif;
}
@media screen and (max-width: 600px) {
  /* line 34, ../sass/style.scss */
  html, body {
    background-position: 90% 30%;
  }
}

/* line 48, ../sass/style.scss */
ul, ol {
  list-style: none;
}

/* line 52, ../sass/style.scss */
.main {
  background: url(../me.svg) no-repeat #e8e8e8;
  background-size: 30%;
  background-position: 90% 50%;
}

/* line 58, ../sass/style.scss */
.wrapper {
  max-width: 100%;
  margin: auto;
  margin-right: 8%;
  width: 80%;
  float: right;
}
@media screen and (max-width: 1230px) {
  /* line 58, ../sass/style.scss */
  .wrapper {
    float: none;
  }
}

/* line 69, ../sass/style.scss */
.links {
  font-family: 'Futura', sans-serif;
  color: white;
  position: relative;
  z-index: 1;
  font-size: 1.3em;
  width: 10%;
  float: left;
}
/* line 78, ../sass/style.scss */
.links a, .links a:visited {
  text-decoration: none;
  color: #ff92fa;
}
/* line 82, ../sass/style.scss */
.links ul {
  list-style: none;
  text-align: left;
}
/* line 85, ../sass/style.scss */
.links ul li {
  border-bottom: 5px solid #ff92fa;
  display: table;
}
@media screen and (max-width: 1230px) {
  /* line 69, ../sass/style.scss */
  .links {
    float: none;
    width: 100%;
  }
  /* line 93, ../sass/style.scss */
  .links ul li {
    display: inline;
  }
}
@media screen and (max-width: 600px) {
  /* line 98, ../sass/style.scss */
  .links ul {
    margin-bottom: 0;
  }
  /* line 100, ../sass/style.scss */
  .links ul li {
    display: table;
  }
}

/* line 107, ../sass/style.scss */
h1 {
  margin: 0;
  font-weight: normal;
  position: relative;
  z-index: 0;
}

/* line 114, ../sass/style.scss */
.hello {
  white-space: nowrap;
}

/* line 118, ../sass/style.scss */
header {
  max-width: 100%;
  color: #fff873;
  font-family: 'Futura', sans-serif;
}

/* line 124, ../sass/style.scss */
.description, .tracks {
  margin-left: 10%;
  margin-top: -7%;
  color: black;
  width: 80%;
  text-align: left;
}

/* line 132, ../sass/style.scss */
.tracks {
  margin-top: -16%;
  position: relative;
  z-index: 1;
}
/* line 136, ../sass/style.scss */
.tracks p:first-child {
  margin-left: -5%;
  margin-bottom: 10%;
}

/* line 142, ../sass/style.scss */
span {
  opacity: 0.5;
}

/* line 146, ../sass/style.scss */
.music span {
  font-size: 0.5em;
}

/* line 150, ../sass/style.scss */
iframe {
  border: 5px solid #ff92fa;
}

/* line 155, ../sass/style.scss */
form {
  font-size: 0.8em;
  width: 80%;
  background: #dedede;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/* line 165, ../sass/style.scss */
form label {
  display: inline-block;
  width: 15%;
}
/* line 169, ../sass/style.scss */
form input {
  display: inline-block;
  min-width: 50%;
  font-size: 0.7em;
  padding: 0.5em;
  border: 4px solid rgba(0, 0, 0, 0);
  outline: none;
}
/* line 178, ../sass/style.scss */
form input:focus, form textarea:focus {
  border: 4px solid #fff873;
}
/* line 182, ../sass/style.scss */
form textarea {
  width: 100%;
  display: block;
  font-size: 0.7em;
  padding: 0.5em;
  border: 4px solid rgba(0, 0, 0, 0);
  outline: none;
}
/* line 191, ../sass/style.scss */
form .form-group {
  margin-bottom: 2%;
  min-height: 2em;
}
/* line 196, ../sass/style.scss */
form .send {
  font-family: 'Orator', sans-serif;
  float: right;
}
