html {
  background: skyblue;
}
.container {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
      farthest-side at bottom left,
      rgba(255, 0, 255, 0.5),
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(255, 50, 50, 0.5),
      transparent 400px
    ),
    url(../public/noise.svg);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointerevents: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.overlay:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../public/noise.svg);
  opacity: 0.2;
}
.title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 15px;
  color: white;
}
.last-updated {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 15px;
  color: white;
  opacity: 0.5;
}
